@import "../../constants.scss";

#clock {
    font-family: monospace;
}

timer-list {
    ul {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        li {
            display: flex;
            justify-content: center;
            padding: 0 10px;
            width: 300px;

            & > * {
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                background-color: $dark-gray;
                padding: 16px 5px;
                padding-top: 0;
                border-radius: 0.25rem;
                min-height: 150px;
                margin-bottom: 0.25em;
            }

            button {
                height: 4ch;
            }
        }
    }

    h2 {
        width: 100%;
    }

    .time {
        font-family: monospace;
        padding: 5px;
    }

    .input {
        width: 100%;
        justify-content: space-between;
        flex-flow: row wrap;
        justify-content: space-around;

        label {
            white-space: pre;
        }

        #chbCursed {
            margin: 0;
            width: auto
        }
    }

    .info{
        width: 100%;
        text-align: center;
        margin-bottom: 0;
        min-height: 1em;
    }

    #huntTimer {
        min-height: 200px
    }
}