*{
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: #aaa;
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: calc(100vh-1);
    min-width: 400px;
}

h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

h2{
    text-align: center;
}

ul, ol {
    list-style-type: none;
    padding: 0;
}

a:link,
a:visited{
    color: cyan;
}

.error {
    color: red;
    font-size: 2rem;
}

/* Navigation Styling */
nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav a {
    background-color: #222;
    font-size: 1.25rem;
    margin: .5rem;
    padding: 0.25rem;
    text-decoration: none;
    border-radius: 0.25rem;
}

nav a:hover, nav a:focus{
    background-color: #444;
}

/* Header & Footer Styling */

header {
    display: flex;
    flex-flow: row wrap;
}

footer {
    background-color: #222;
    text-align: center;
    padding: 10px;
}

header, footer {
    flex-grow: 0;
}

.input input {
    width: 6ch;
}

.input{
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}

.status {
    display: flex;
    flex-flow: column-reverse wrap;
    align-items: space-between;
    width: 100%;
}

button, input {
    border: 1px solid transparent;
    border-radius: 0.25rem;
    margin: 2px;
    text-align: center;
}

label span {
    border: 1px solid transparent;
    border-radius: 0.25rem;
    margin: 2px;
    text-align: center;
}

#btnReset, #btnSound{
    height: 4ch;
}

#audioInterface{
    display: grid;
    grid-template-columns: auto auto;
}

#audioInterface div{
    display: flex;
    justify-content: center;
}

#audioSelectWrapper{
    grid-column: 1 / 3;
}

/* Check List Mobile Viewport */
check-list{
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}

check-list section:first-child{
    margin: 0.25rem;
    background-color: #222;
    padding: .2rem;
    border-radius: 0.33rem;
}

#ghost-list, 
#evidence-list,
#speed-list,
#hunt-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#display-section {
    order: -2;
}

#evidence-section {
    order: -1;
    min-width: 150px;
}

#ghost-section{
    order: 1;
    min-width: 200px;
}

#evidence-list li,
#ghost-list li {
    width: 50%;
    padding: 0 5px;
}

#hunt-list li,
#speed-list li{
    width: 33% ;
    padding: 0 5px;
}

#hunt-list li:nth-child(3n),
#hunt-list li:nth-child(3n-1),
#speed-list li:nth-child(3n),
#speed-list li:nth-child(3n-1),
#ghost-list li:nth-child(2n),
#evidence-list li:nth-child(2n){
    border-left: 2px solid #aaa;
}


#evidence-list .yes,
#speed-list .yes,
#hunt-list .yes{
    background-color: rgb(25, 68, 25);
    order: -1;
}

#evidence-list .no,
#speed-list .no,
#hunt-list .no{
    background-color: rgb(95, 11, 11);
    order: 1;
}

#ghost-list .no{
    display: none;
}

.evidence{
    display: grid;
    grid-template-columns: auto 1.5rem 1.5rem;
    cursor: default;
    
}

.alternative{
    display: grid;
    grid-template-columns: 50% 50%;
    cursor: default;
}

.ghost{
    display: grid;
    grid-template-columns: auto 1.5rem;
    cursor: default;
}

.ghost:hover, .ghost:focus,
.evidence:hover, .evidence:focus {
    background-color: #444;
}

#display .name{
    font-size: 2rem;
}

#display ol{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    font-weight: bold;
    margin-bottom: 0;
}

#display ol li {
    background-color: #444;
    padding: 3px 5px;
    border-radius: 0.25rem;
}

#display ul{
    margin: 1rem;
    padding: .2rem 3ch;
    background-color: #444;
    border-radius: 0.25rem;
    list-style-type: circle;
    margin-bottom: 0;
}

.info {
    margin-bottom: 16px;
}

.info p{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

.warn {
    color: red;
    margin-bottom: 0;
}

/* Timer Styling Mobile View */
#timer-main ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 0;
}

#timer-main li {
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #222;
    padding: 16px 5px;
    padding-top: 0;
    border-radius: 0.25rem;
}

#timer-main #huntTimer {
    max-width: 300px;
}

#timer-main h2 {
    width: 100%;
}

#timer-main li button {
    height: 4ch;
}

#timer-main .time {
    font-family: monospace;
    padding: 5px;
}

#timer-main .input {
    width: 100%;
    justify-content: space-between;
    flex-flow: row wrap;
    justify-content: space-around;
}

#timer-main .input label {
    white-space: pre;
}

#chbCursed {
    margin: 0;
    width: auto
}

#timer-main .info{
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

/*Tablet Viewport */
@media(min-width: 500px){

    .status {
        flex-flow: row nowrap;
    }

    /* Check List Tablet Viewport */
    check-list {
        display: grid;
        grid-template-columns: 200px auto;
    }

    #ghost-section{
        grid-row-start: 2;
    }

    #display-section{
        grid-row: span 2;
        order: 1;
    }

    #evidence-list li,
    #ghost-list li,
    #hunt-list li,
    #speed-list li{
        width: 100%;
        border: none !important;
    }

    @media(max-width: 650px){
        #display ol {
            flex-direction: column;
        }

        #display ol li {
            text-align: center;
            margin: 5px;
        }
    }

    /* Timer Styling Tablet Viewport */
}

/* Desktop Viewport */
@media(min-width: 800px){
    body{
        max-width: 1000px;
    }

    /* Check List Styling Desktop Viewport */
    check-list {
        display: flex;
        flex-flow: row nowrap;
    }

    #ghost-section,
    #evidence-section {
        max-width: 200px;
    }

    #ghost-section{
        order: -1;
    }

    #display ol {
        justify-content: space-evenly;
    }

    #display-section{
        flex-grow: 1;
    }

    /* Timer Styling Desktop Viewport */
}