*{
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: #aaa;
}

h1 {
    width: 100%;
    text-align: center;
}

header {
    display: flex;
    flex-flow: row wrap;
}

header input {
    width: 6ch;
}

header .input{
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
}

button, input {
    border: 1px solid transparent;
    border-radius: 0.25rem;
    margin: 2px;
    text-align: center;
}

#btnReset{
    height: 4ch;
}

main{
    display: flex;
    flex-flow: column nowrap;
}

section{
    margin: 0.25em;
    background-color: #222;
    padding: .2em;
    border-radius: 0.33rem;
}

ul, ol {
    list-style-type: none;
    padding: 0;
}

#ghost-list, 
#evidence-list {
    display: flex;
    flex-flow: row wrap;
}

#evidence-section {
    order: -1;
}

#ghost-section{
    order: 1;
}


#evidence-list li,
#ghost-list li{
    width: 50%;
    padding: 0 5px;
}

#evidence-list .yes{
    background-color: rgb(25, 68, 25);
    order: -1;
}

#evidence-list .no{
    background-color: rgb(95, 11, 11);
    order: 1;
}

#ghost-list .no{
    display: none;
}

.evidence{
    display: grid;
    grid-template-columns: auto 1.5em 1.5em;
    cursor: default;
}

.ghost{
    display: grid;
    grid-template-columns: auto 1.5em;
    cursor: default;
}

.ghost:hover, .ghost:focus,
.evidence:hover, .evidence:focus {
    background-color: #444;
}

h2{
    text-align: center;
}

#display .name{
    font-size: 2em;
}

#display ol{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    font-weight: bold;
}

#display ol li {
    background-color: #444;
    padding: 3px 5px;
    border-radius: 0.25rem;
}

#display ul{
    margin: 1em;
    padding: .2em;
    background-color: #444;
    border-radius: 0.25rem;

    list-style-type: "⮊ ";
    padding-left: 3ch;
}

footer {
    background-color: #444;
    text-align: center;
    padding: 10px;
}

footer a:link,
footer a:visited{
    color: #aaa;
}

@media(min-width: 438px){
    main {
        display: grid;
        grid-template-columns: 200px auto;
    }

    #ghost-section{
        grid-row-start: 2;
    }

    #display-section{
        grid-row: span 2;
    }

    #evidence-list li,
    #ghost-list li{
        width: 100%;
    }

    @media(max-width: 550px){
        #display ol {
            flex-direction: column;
        }

        #display ol li {
            text-align: center;
            margin: 5px;
        }
    }
}

@media(min-width: 800px){
    body{
        max-width: 1000px;
        margin: auto;
    }
    main {
        display: flex;
        flex-flow: row nowrap;
    }

    #ghost-section,
    #evidence-section {
        max-width: 200px;
    }

    #ghost-section{
        order: -1;
    }

    #display ol {
        justify-content: space-evenly;
    }

    #display-section{
        flex-grow: 1;
    }
}