#audioInterface{
    display: flex;
    flex-flow: column;

    div{
        display: flex;
        justify-content: center;
    }
}

@media(min-width: 400px){

    #audioInterface{
        display: grid;

        #audioSelectWrapper{
            grid-column: 1 / 3;
        }
    }
}

