@use "../constants.scss";

settings-menu {
    min-width: 320px;
    max-width: 90%;
    margin: 0 auto;
    display: block;
    background-color: constants.$dark-gray;
    padding: 0.2rem;
    border-radius: 0.33rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.3rem;

    > label {
        max-width: 350px;
    }

    label {
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        margin-bottom: 5px;

        input, select {
            text-align: center;
        }
    }

    section {
        display: flex;
        flex-direction: column;
        width: 100%;

        label {
            width: 75%;
            justify-content: center;
            gap: 10px;

            input {
                transform: scale(1.5);
            }

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }

    json-editor {
        display: block;
        border: constants.$light-gray solid 1px;
        border-radius: 15px;
        padding: .3em;
        margin-bottom: 10px;
        text-align: right;

        h3 {
            text-align: center;
        }

        textarea {
            resize: vertical;
            width: 100%;
            height: 15em;
            margin-bottom: 10px;
            overflow: scroll;
        }

    }
}