/* Colors */
$black: #111;
$dark-gray:  #222;
$medium-gray: #444;
$light-gray: #aaa;

$green: rgb(25, 68, 25);
$light-green: rgb(45, 88, 45);
$red: rgb(95, 11, 11);
$light-red: rgb(124, 34, 34);

/* Break Points */
$tablet: 500px;
$desktop: 800px;