@import "./constants.scss";

* {
    box-sizing: border-box;
}

body {
    background-color: $black;
    color: $white;
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 100vh;
    min-width: 320px;

    main {
        flex-grow: 1;
    }
}

h1 {
    text-align: center;
    margin: 0;
}

h2 {
    text-align: center;
}

ul, ol {
    list-style-type: none;
    padding: 0;
}

a:link,
a:visited {
    color: cyan;
}

input {
    accent-color: cyan;
}

.error {
    color: red;
    font-size: 2rem;
}

/* Navigation Styling */
nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 100%;

    & > div {
        list-style: 2;
    }

    a {
        background-color: $dark-gray;
        font-size: 1.25rem;
        margin: .5rem;
        padding: 0.25rem;
        text-decoration: none;
        border-radius: 0.25rem;
        display: inline-block;

        &:hover, &:focus {
            background-color: $medium-gray;
        }
    }
}

/* Header & Footer Styling */

header {
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    margin: 10px;

    #audioInterface{
        flex-direction: column-reverse;
        flex-basis: 100%;
    }
}

@media(min-width: $tablet){
    header {

        #audioInterface{
            flex-direction: row;
        }
    }
}

@media(min-width: 605px){
    header {
        nav {
            flex-basis: auto;
        }

        #audioInterface {
            flex-basis: auto;
        }
    }
}

@media(min-width: 700px){
    header {

        nav {
            justify-content: left;
        }

        #hiddenBreak {
            flex-basis: 100%;
        }
    }
}

footer {
    background-color: $dark-gray;
    text-align: center;
    padding: 10px;
}

header, footer {
    flex-grow: 0;
}

.input input {
    width: 6ch;
}

.input{
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}

.status {
    display: flex;
    flex-flow: column-reverse wrap;
    align-items: space-between;
    width: 100%;
    flex-grow: 1;
}

button, input {
    border: 1px solid transparent;
    border-radius: 0.25rem;
    margin: 2px;
    text-align: center;
}

label span {
    border: 1px solid transparent;
    border-radius: 0.25rem;
    margin: 2px;
    text-align: center;
}

#btnReset, #btnSound{
    height: 4ch;
}

.blood {
    color: #880808 !important;
    accent-color: #880808 !important;
}

/*Tablet Viewport */
@media(min-width: $tablet){
    .status {
        flex-flow: row nowrap;
    }
}

/* Desktop Viewport */
@media(min-width: $desktop){
    body{
        max-width: 1000px;
    }
}

@import './CheckList/style.scss';
@import "./TimerList/style.scss";
@import "./Settings/style.scss";