@import "./TimerList/style.scss";

speed-finder {
    display: flex;
    max-width: 500px;
    margin: 0 auto;
    flex-flow: column;

    > p {
        text-align: center;
    }

    > button {
        min-height: 200px;
    }
}